vortex.deployment.json
.DS_Store
__folder_managed_by_vortex
/.idea/
*.save
SkillPrestige/psconfigs/*
UI Info Suite/*_modDate.xml
SkillPrestige/Data.json
AnimalHusbandryMod/data/farmers/Mazzon_251691351.json
ConvenientChests/savedata/*
CustomReminders/data/*/*
FarmTypeManager/data/*
UI Info Suite/*_modData.xml
!FarmTypeManager/data/default.json
